p{

    color: green;
    ;
 /* background-color:blue; */
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar{
    /*background: red;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    */

display: flex; 
justify-content: space-between;
align-items: center;
box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.1);
width: 100%;
height: 70px;
font-family: "Poppins",sans-serif;
padding: 0;

}

#cardContainer {
    width: 60%; /* Réglez la largeur à 60% */
    margin: 5% 0 10% 0; /* Centre le conteneur horizontalement */
    display: flex;
    flex-wrap: wrap;
    
}


.small-image {
    max-width: 100%;
    height: 150px;
}



.nav_bar a i{

    color:red;
    font-size :25px;
   
    }

.spa{
  /*color: #63ffc2;*/
  color : red
}
.spa1{
  color: red;
}

.menu{
margin-left:100%;

}
.nav_bar a{
  font-size :17px;
  text-decoration:none;
  color:red;
}    


.cote a{

padding-right: 50px;
}

#momo{
    padding-left: 50px;  
}

.menu-deroulant{
    margin : 200PX 0 0 0;
}

#Tache{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding : 10PX; 
}

.messagerie{
    
    width: 35%;
    height: 100%;
   /* background-color: red; */
}

.main{
   /* background-color: blue; */
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:100%;
    
}
img{
    margin-bottom: 10px;
    margin-left: 10px;
    max-width: 100%;
    background-color: green;
}


.container{
 
    /*margin-left:850px;*/
    /*max-width: 700px;*/
  
    width: 100%;
    /*background: RED;*/
    
    font-family: 'poppins',sans-serif;
    /*border-radius: 5px;*/
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    
   /*background-color: RED; */
  }
  
  .container form .detail {
  
  
  padding-left: 0px;
  
  /*justify-content:space-between;*/
  
  /*background-color: black;*/
  
  }
  
  
  form .detail .input-box{
    /*margin: 20px 0 12px 20px;*/
    margin-top: 30px;
    width: 100%;
    
  /*width: calc(100%/2-20px);*/
  
  
  }
  
  select{
  
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding-left: 20px;
  border: 1PX solid #ccc;
  font-size: 15px;
  }
  
  .detail .input-box input{
  
    height: 50px;
    width: 95%;
    outline: none;
    border-radius: 5px;
   padding-left: 15px;
   border: 1PX solid #ccc;
   font-size: 15px;
  }
  
  .detal .input-box .details{
  font-weight: 500;
  /*margin-bottom: 5px;*/
  
  
  }
  
  .detail .input-box input:focus,.detail .input-box input:valid{
  border-color: #63ffc2;
  
  
  }
  
  
  
  
  form .button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form .button input{
   
      width: 50%;
      height: 50px;
      border-radius: 25px;
      outline: none;
      border: none;
      /*background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);*/
      background:green;
      background-size: 200%;
      font-size: 1.2rem;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      
      margin: 1rem 0;
      cursor: pointer;
      transition: .5s;
  
  }


  #menu {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
}

#menu button {
    padding: 10px;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

#menu button:hover {
    background-color: #ddd;
}

.menu-container:hover #menu {
    display: block;
}

.btn_1{

    width: 50%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    /*background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);*/
    background:green;
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;


}

.table{


    width:100%
  }
  
  .table-list {
  margin-top: 60px;  
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  background-color: rgb(240, 240, 240);
  }
  .table-list p{
    color: black;
    font-family:'poppins',sans-serif;
  }
  
  button{
    outline: none;
    border: none;
    border-radius: 6px;
    
    
    
    
    }
    .Ajout{
    padding: auto;
    background-color:#63ffc2;
    height: 35px;
    width: 80px;
    
    }
    
    .Ajout a{
      
     list-style: none;
    
    }
  
  input{
    padding: 10px 20px;
    margin:0 10px;
    outline: none;
    border: 1px solid #63ffc2; 
    border-radius: 6px;
  }
  
  ::placeholder {
   color:gray ; 
  }
  
  .tableau{
  height:650px;
  overflow: auto;
  }
  .fas{
    color: red;
  }
  .far{
    color: green;
  }
  table{
  width: 100%;
  table-layout: fixed;
  min-width: 1000px;
  border-collapse: collapse;
  
  }
  
  thead th{
  position:sticky;
  top: 0;
  background: #f6f9fc;
  font-family:'poppins',sans-serif;
  font-size:15px;
  
  }
  
  th,td{
    border-bottom:  1px solid #dddddd;
    padding:  10px 20px;
    word-break: break-all;
    text-align: center; }