<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../Css/style.css" rel="stylesheet" >
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
   <title>Planning Poker</title>

</head>
<body>

<div class="nav_bar">
     <!-- logo PPoker-->
    <a onclick="redirectToPage('principal')"><i class="fa-solid fa-diamond fa-bounce" style="color: #1962e1;" ></i> Planning<span class='spa'> P</span >ok<span class='spa1'>er</span></a>
     
      
    <div class="cote">

        <a  class="menur"><!--<i class="fa-solid fa-p"></i>--><i class="fa-solid fa-house-lock"></i></a>
     <!--  
        <div class="menu-deroulant">
            
           <ul class="menu2">
            <li class="link2"><a href="Deconnexion.php?deconnexion=true">Se déconnecter</a></li>
            <li class="link1"><a href="">Profil</a></li>
           </ul>
            
        </div>
    -->
    </div>

</div>
<script>
  function redirectToPage(gameMode) {
   if (gameMode === 'principal') {
       window.location.href = '../View/index.html';
   }}
</script>
   <p style="text-align: center;  margin-top: 50px; font-size: 60px; font-family:Poppins,sans-serif; margin-bottom: 0;"  > Résultat de la recherche</p>
 
<div class="container">
   
    <form id="monFormulaire">
    <div class="detail">
    
    <div class="input-box">
    <span class="details">
      Nom du blacklog
    </span>
    <input type="text" placeholder="Entrez le nom du blacklog" required name="nomP" id="nomP">
    
    </div>
    
    <div class="input-box">
      <span class="details">
        Nom de la tache
      </span>
      <input type="text" placeholder="Entrez le nom de la tache " required name="nom" id="nomT">
      
      </div>
      <div class="input-box">
        <span class="details">
          Nombre de joueurs
        </span>
        <input type="number" placeholder="Entrez le nombre de joueurs " required name="nom" id="nombreJ" min="0" max="90">
        
        </div>
      
    
    
    
          
            
            <div class="input-box">
            <span class="details">
            Mode du jeux
            </span>
            <!--<input type="text" placeholder="entrez votre service" required>-->
            <select id="pet-select" name="grade">
              <option value="">-- Choisir un mode --</option>
              <option value="stricte"> Stricte </option>
              <option value="moyenne"> Moyenne </option>
              <option value="mediane"> Médiane</option>
              <option value="MA"> Majorité absolue</option>
              <option value="MR"> Majorité relative</option>
          </select>
            </div>
    
    
            
    
    
    <div class="button">
    
    <input type="button" name="Ajouter" value="Commencer" onclick="submitForm()">  
    </div>
    </div>
    </form>


  
    
    
    
    
</div>

<script  src="../Model/formulaire.js"></script>
</body>
</html>