<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../Css/style.css" rel="stylesheet" >
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
   <title>Plannig Poker</title>
</head>
<body>

<div class="nav_bar">
     <!-- logo PPoker-->
    <a href="" id="momo"><i class="fa-solid fa-diamond fa-bounce" style="color: #1962e1;" ></i> Plannig<span class='spa'> P</span >ok<span class='spa1'>er</span></a>
     
      
    <div class="cote">

        <a href="Deconnexion.php?deconnexion=true" class="menur"><!--<i class="fa-solid fa-p"></i>--><i class="fa-solid fa-house-lock"></i></a>
     <!--  
        <div class="menu-deroulant">
            
           <ul class="menu2">
            <li class="link2"><a href="Deconnexion.php?deconnexion=true">Se déconnecter</a></li>
            <li class="link1"><a href="">Profil</a></li>
           </ul>
            
        </div>
    -->
    </div>

</div>

   <p style="text-align: center;  margin-top: 50px; font-size: 60px; font-family:Poppins,sans-serif; margin-bottom: 0;"  > Création d'une nouvelle partie</p>
  <!-- <form action="poker.php" method="post">
      <ul>
        <li>
        <label for="name">Nom de la partie</label>
        <input type="text" id="name"  placeholder="Entrez le Nom" required name="nom" />
        </li>
        <li>
        <label for="tache">tache à voté </label>
        <input type="email" id="mail" placeholder="Saisir votre tache" required name="tache"/>
      </li>
      <li>
        <label for="mode">Mode du jeux</label>
        <textarea id="msg" placeholder="Selectionner le mode " required name="mode"></textarea>
      </li>
    </ul>
    <div class="button">

        <input type="submit" name="creer" value="creer">  
        
        </div>
  </form>
  
</div>
-->

<div class="container">
   
    <form action="Ajout.php" method="Post">
    <div class="detail">
    
    <div class="input-box">
    <span class="details">
      Nom de la partie
    </span>
    <input type="text" placeholder="Entrez le Nom" required name="nom">
    
    </div>
    
    <div class="input-box">
        
      <span class="details">
        Nom de la tache
      </span>
      <input type="text" placeholder="Entrez le Prénom " required name="prenom">
      
    </div>    
    <div class="input-box">
        
        <span class="details">
          Nombre de joueurs
        </span>
        <input type="number" id="quantity" name="quantity" min="1" max="10000" placeholder="Entrez un nomber ">        
      </div>
    
    
          
            
    <div class="input-box">
            <span class="details">
            Mode du jeux
            </span>
            <!--<input type="text" placeholder="entrez votre service" required>-->
            <select id="pet-select" name="grade">
              <option value="">-- Choisir un mode --</option>
              <option value="Interne"> Moyenne </option>
              <option value="Externe"> Médiane</option>
              <option value="Externe"> Majorité absolue</option>
              <option value="Externe"> Majorité relative</option>
          </select>
    </div>
    
    
            
    
    
    <div class="button">
    
    <input type="submit" name="Ajouter" value="Ajouter">  
    </div>
    </div>
    </form>
    
    
    
    
</div>
</body>
</html>