<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../Css/style.css" rel="stylesheet" >
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    
   <title>Planning Poker</title>
</head>
<body>

<div class="nav_bar">
     <!-- logo PPoker-->
    <a onclick="redirectToPage('principal')"><i class="fa-solid fa-diamond fa-bounce" style="color: #1962e1;" ></i> Planning<span class='spa'> P</span >ok<span class='spa1'>er</span></a>
     
      
    <div class="cote">

        <a  ><!--<i class="fa-solid fa-p"></i>--><i class="fa-solid fa-house-lock"></i></a>
     <!--  
        <div class="menu-deroulant">
            
           <ul class="menu2">
            <li class="link2"><a href="Deconnexion.php?deconnexion=true">Se déconnecter</a></li>
            <li class="link1"><a href="">Profil</a></li>
           </ul>
            
        </div>
    -->
    </div>

</div>

<script>
   function redirectToPage(gameMode) {
    if (gameMode === 'principal') {
        window.location.href = '../View/index.html';
    }}
</script>
<div id="Tache">
   <p id="sprint"> Tache : </p> 
   </div> 
<div class="tableJeux">
   <p style=" margin: auto;
   text-align: center;" id="resultat"> Choisissez une carte ! </p>
</div>



<!-- header qui aura un logo latéral gauche un peseudo et un botton de déconnexion-->
<!-- un sous header qui aura un le nom de la taches à réaliser et un un timer à coté-->

<div class="main">

  <div id="cardContainer">   
     
     <img class="small-image" src="../Carte/cartes_0.svg" alt="0">
     <img class="small-image" src="../Carte/cartes_1.svg" alt="1">
     <img class="small-image" src="../Carte/cartes_3.svg" alt="3">
     <img class="small-image" src="../Carte/cartes_5.svg" alt="5">
     <img class="small-image" src="../Carte/cartes_8.svg" alt="8">
     <img class="small-image" src="../Carte/cartes_13.svg" alt="13">
     <img class="small-image" src="../Carte/cartes_20.svg" alt="20">
     <img class="small-image" src="../Carte/cartes_40.svg" alt="40">
     <img class="small-image" src="../Carte/cartes_100.svg" alt="100">
     <img class="small-image" src="../Carte/cartes_cafe.svg" alt="Carte_cafe">
 

   </div> 

   <!--<div class="messagerie">
    
    <p>dsqkdm</p>
    <p>dsjqdsn</p>
    <p>dsqljjkldsq</p>
    <p>dsqljjkldsq</p>
 
   </div>
-->
</div>

<div class="table">
   <div class="table-list">
     <p>Liste des joeurs</p>
   
     
       
       
       <div>
         <i class="fa-solid fa-users"></i>
       </div>
     
   
   
   
   </div>
   
   </div>     
   
   
   <div class="tableau">
   <table>
   <thead>
   <tr class="tr1">
   <th>Pseudo</th>
   <TH>Score</TH>
   
   
   
   
   </tr>
   
   
   
   </thead>
   <tbody>
   
                     <tr>
                     <td>Moi</td>
                     <td id="islam"></td>
                    
                     
                     
                       
                     
                      </tr>
   
               
              
   
   
   
   
   
   </tbody>
   
   
   
   </table>
   
   
   </div>
   
   
   



  
    <script  type="module"  src="../Model/poker.js"></script>
</body>
</html>