<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../Css/style.css" rel="stylesheet" >
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
   <title>Plannig Poker</title>
</head>
<body>

<div class="nav_bar">
     <!-- logo PPoker-->
    <a href="" id="momo"><i class="fa-solid fa-diamond fa-bounce" style="color: #1962e1;" ></i> Plannig<span class='spa'> P</span >ok<span class='spa1'>er</span></a>
     
      
    <div class="cote">

        <a href="Deconnexion.php?deconnexion=true" class="menur"><!--<i class="fa-solid fa-p"></i>--><i class="fa-solid fa-house-lock"></i></a>
     <!--  
        <div class="menu-deroulant">
            
           <ul class="menu2">
            <li class="link2"><a href="Deconnexion.php?deconnexion=true">Se déconnecter</a></li>
            <li class="link1"><a href="">Profil</a></li>
           </ul>
            
        </div>
    -->
    </div>

</div>

<p style="text-align: center;  margin-top: 50px;"  > Donnez une Estimastion à cette Tâche</p>

<div id="Tache">
<p> Tâche: S'athentifier à la base de donnée</p> 
<p> Chronomètre</p>
</div>

<!-- header qui aura un logo latéral gauche un peseudo et un botton de déconnexion-->
<!-- un sous header qui aura un le nom de la taches à réaliser et un un timer à coté-->

<div class="main">

  <div id="cardContainer">   
     
     <img class="small-image" src="../Carte/cartes_0.svg" alt="Carte_0">
     <img class="small-image" src="../Carte/cartes_1.svg" alt="Carte_1">
     <img class="small-image" src="../Carte/cartes_3.svg" alt="Carte_3">
     <img class="small-image" src="../Carte/cartes_5.svg" alt="Carte_5">
     <img class="small-image" src="../Carte/cartes_8.svg" alt="Carte_8">
     <img class="small-image" src="../Carte/cartes_13.svg" alt="Carte_13">
     <img class="small-image" src="../Carte/cartes_20.svg" alt="Carte_20">
     <img class="small-image" src="../Carte/cartes_40.svg" alt="Carte_40">
     <img class="small-image" src="../Carte/cartes_100.svg" alt="Carte_100">
     <img class="small-image" src="../Carte/cartes_cafe.svg" alt="Carte_cafe">
 

   </div> 

   <div class="messagerie">
    
    <p>dsqkdm</p>
    <p>dsjqdsn</p>
    <p>dsqljjkldsq</p>
    <p>dsqljjkldsq</p>
    <p>dsqljjkldsq</p>
    <p>dsqljjkldsq</p>
    <p>dsqljjkldsq</p>
    <p>dsqljjkldsq</p>
    <p>dsqljjkldsq</p>
   </div>

</div>
<!-- une messagerie latéral droit-->
<div class="table">
   <div class="table-list">
     <p>Listes des joeurs</p>
   
     
       
       
       <div>
     <button class='Ajout'> <a href=Ajout.php'>Ajouter</a></button>
       </div>
     
   
   
   
   </div>
   
   </div>     
   
   
   <div class="tableau">
   <table>
   <thead>
   <tr>
   <th>Id</th>
   <th>Pseudo</th>
   <TH>Score</TH>
   
   
   
   
   </tr>
   
   
   
   </thead>
   <tbody>
   
                     <tr>
                     <td>4324</td>
                     <td>momo_85</td>
                     <td>7</td>
                    
                     
                     
                       
                     
                      </tr>
   
               
              
   
   
   
   
   
   </tbody>
   
   
   
   </table>
   
   
   </div>
   
   
   




    
</body>
</html>